body{
    text-align: center;
}
#h1text{
    display : flex ;
    justify-content: center;
    align-items: center;
 }
 .main-image img{
    width: 600px;
    height: 500px;
    object-fit: cover;
 }
.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.thumbnails img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
} 
